@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 600px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	top: 490px;
	left: 575px;
}

video#filme {
	display: block;
	position: relative;
    width: 460px;
    top: 50px;
    left: 82px;
}

